{% extends "_layouts/_main" %}

{% block bodyClass %}{{ entry.section.handle }}{% endblock %}
{% block namespace %}about{% endblock %}

{% block main %}

{% include '_components/_openingImage.twig' %}

<div class="content">
  <div class="container">

    <main class="{{ entry.section.handle }}">

      <h1>Über uns</h1>

      <div class="paragraph">
        {{ entry.pageCopy }}
      </div>

    </main>

    {% include '_layouts/_sidebar.twig' %}

  </div>
</div>

{% endblock %}
