{% extends "_layouts/_main" %}

{% block bodyClass %}{{ entry.section.handle }}{% endblock %}

{% block main %}

{% include '_components/_openingImage.twig' %}

<div class="content">
  <div class="container">

    <main class="{{ entry.section.handle }}">

      {% include '_components/_blogPosts.twig' %}

    </main>

    {% include '_layouts/_sidebar.twig' %}

  </div>
</div>

{% endblock %}
