{% extends "_layouts/_main" %}

{% block bodyClass %}legal {{ entry.section.handle }}{% endblock %}

{% block main %}

<main class="legal {{ entry.section.handle }}">
  <h1>{{ entry.title }}</h1>

  <div class="paragraph">
    {{ entry.pageCopy }}
  </div>
</main>

{% endblock %}
