{% extends "_layouts/_main" %}

{% block bodyClass %}legal {{ entry.section.handle }}{% endblock %}

{% block main %}

{% include '_components/_openingImage.twig' %}

<div class="content">
  <div class="container">

    <main class="legal {{ entry.section.handle }}">

      <h1>{{ entry.title }}</h1>

      <div class="paragraph">
        {{ entry.pageCopy }}
      </div>

    </main>

    {% include '_layouts/_sidebar.twig' %}

  </div>
</div>

{% endblock %}
