.intro {
  position: relative;
  grid-area: intro;
  background: rgba(0,0,255,.4);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  >img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
