.content {
  padding: 4rem 0;
  grid-area: main;
  background: $white;

  display: grid;
  grid: "main" 1fr
        "sidebar" auto
        / 100vw;

  @include breakpoint('m') {
    grid: "main sidebar" auto
          "main empty" 1fr
          / 1fr auto;
  }

  > .container {
    grid-area: main;
    display: grid;
    grid-gap: 1rem;
    grid: "main" 1fr
          "sidebar" auto
          / 1fr;

    @include breakpoint('m') {
      grid-gap: 3rem;
      grid: "main sidebar" auto
            "main empty" 1fr
            / 1fr auto;
    }

    main {
      grid-area: main;
      background: $white;
    }

    .sidebar {
      grid-area: sidebar;
    }
  }
}
