<footer class="main-footer">
  <div class="main-footer__wrap container">
    <div class="main-footer__copy">
      &copy; {{ now|date('Y') }} Marco & Gloria
    </div>

    <div class="main-footer__ice">
      <a class="icecreme" href="https://ice-creme.de" title="made by ice creme">
        <svg viewBox="0 0 150 76" fill="none" xmlns="http://www.w3.org/2000/svg">
  				<g>
    				<path d="M49.3915 24.6683V37.9683H7.81517C4.19521 37.9683 1.25048 34.9853 1.25048 31.3183C1.25048 27.6513 4.19521 24.6683 7.81517 24.6683H49.3915ZM50.6419 23.4016H7.81517C3.50123 23.4016 6.10352e-05 26.9483 6.10352e-05 31.3183C6.10352e-05 35.6883 3.50123 39.2349 7.81517 39.2349H50.6419V23.4016Z" fill="white"/>
    				<path d="M50.592 23.4016H47.3784C47.3534 25.6816 47.3409 28.3036 47.3409 31.3183C47.3409 34.3329 47.3534 36.9549 47.3784 39.2349H50.592V23.4016Z" fill="white"/>
    				<path d="M30.5043 30.3429C36.525 29.8679 42.7521 29.3802 47.7538 28.7469C48.8104 28.6139 49.7732 28.4809 50.6485 28.3416V27.5689C49.7544 27.7082 48.7603 27.8476 47.66 27.9869C42.6771 28.6139 36.4625 29.1016 30.448 29.5766C24.9211 30.0136 19.7069 30.4252 15.9744 30.9002C9.82862 31.6982 5.00201 33.3196 2.03227 34.5482C1.63839 34.7129 1.26326 34.8712 0.913147 35.0296C1.03194 35.2576 1.16323 35.4792 1.30078 35.6946C4.50184 34.2759 9.56603 32.4962 16.0619 31.6666C19.7757 31.1852 24.9837 30.7736 30.5043 30.3429Z" fill="white"/>
    				<path d="M11.6232 36.3533C12.1608 36.4356 12.7861 36.4736 13.455 36.4736C14.0615 36.4736 14.7117 36.4419 15.3744 36.3786C17.4188 36.1759 20.845 35.4919 20.7199 34.1873C20.6699 33.6299 20.0447 33.2753 18.8131 33.0916C17.794 32.9396 16.4623 32.9333 15.0618 33.0726C13.0174 33.2753 9.59124 33.9593 9.71628 35.2639C9.7663 35.8149 10.3915 36.1759 11.6232 36.3533ZM11.7795 34.4786C12.6798 34.1746 13.8739 33.9466 15.1306 33.8199C16.3935 33.6996 17.6064 33.6933 18.5442 33.8136C19.5446 33.9403 19.9009 34.1683 19.9634 34.2506C19.9134 34.3456 19.6071 34.6369 18.6505 34.9536C17.7502 35.2513 16.5561 35.4856 15.2994 35.6123C14.0365 35.7326 12.8236 35.7389 11.8858 35.6186C10.8854 35.4919 10.5291 35.2639 10.4665 35.1816C10.5165 35.0866 10.8229 34.8016 11.7795 34.4786Z" fill="white"/>
    				<path d="M6.51511 38.513C10.4602 38.9436 19.0318 39.216 23.2082 37.145C23.377 37.0626 23.5458 36.9803 23.7146 36.8916C27.7284 34.884 32.6988 32.4013 50.6486 31.7046V30.9446C32.5175 31.6476 27.4658 34.1683 23.3832 36.2076C23.2144 36.29 23.0456 36.3786 22.8768 36.461C21.1075 37.335 18.2128 37.8733 14.5053 38.0126C11.4605 38.1266 8.422 37.9556 6.59639 37.753C5.5773 37.639 4.52695 37.7403 3.53912 37.9366C3.87674 38.1646 4.23936 38.361 4.61448 38.532C5.24594 38.4623 5.88991 38.4433 6.51511 38.513Z" fill="white"/>
    				<path d="M50.4297 37.1703L50.5797 36.4229C48.7354 36.0493 45.5593 35.6313 42.1832 35.5996C39.451 35.5679 35.6747 35.7959 33.1864 37.0309C31.6109 37.8163 29.4039 38.5763 27.2344 39.2286H29.7353C31.1295 38.7536 32.4549 38.2406 33.5115 37.7086C37.813 35.5806 46.7659 36.4293 50.4297 37.1703Z" fill="white"/>
    				<path d="M12.2104 27.2974C15.9054 26.9174 20.4944 26.8098 25.3523 26.7021C34.2177 26.4994 44.1898 26.2714 50.6419 24.2131V23.4151C44.3148 25.5114 34.2615 25.7394 25.3335 25.9421C20.4569 26.0561 15.8553 26.1574 12.1354 26.5438C6.35218 27.1391 2.42587 29.0011 0.143859 30.4641C0.106346 30.4894 0.075086 30.5084 0.0375735 30.5338C0.0125652 30.7934 6.10352e-05 31.0594 6.10352e-05 31.3254C6.10352e-05 31.3761 6.10352e-05 31.4204 6.10352e-05 31.4711C0.187624 31.3444 0.375186 31.2178 0.581505 31.0848C2.78849 29.6724 6.59601 27.8801 12.2104 27.2974Z" fill="white"/>
    				<path d="M17.4621 23.4016H13.0294C8.78424 24.1933 5.48314 24.9786 3.05733 25.6309C2.73847 25.7196 2.42587 25.8019 2.13202 25.8843C1.83817 26.2009 1.56933 26.5429 1.3255 26.9039C1.93195 26.7266 2.58217 26.5429 3.29491 26.3529C6.46471 25.4979 11.135 24.4276 17.4621 23.4016Z" fill="white"/>
    				<path d="M150 31.3182C150 41.4959 145.211 50.5399 137.783 56.2589C135.326 58.3235 133.313 64.8405 128.649 63.9855C127.086 63.7005 124.754 62.5542 123.741 62.9785C122.835 63.3522 118.439 65.3979 118.439 71.3132C118.439 73.6312 116.776 75.5565 114.594 75.9302C114.338 75.9745 114.082 75.9999 113.813 75.9999C111.256 75.9999 109.186 73.9035 109.186 71.3132C109.186 62.3959 104.81 62.7949 101.559 62.6365H67.3724C66.2033 62.6619 65.2154 63.2382 65.2154 64.4099C65.2154 66.1579 63.815 67.5765 62.0894 67.5765C62.0206 67.5765 61.9519 67.5765 61.8831 67.5702C60.2513 67.4625 58.9634 66.0882 58.9634 64.4099C58.9634 63.2382 57.8505 62.7822 56.6438 62.5795C53.1302 62.0792 51.7922 58.4439 51.2233 56.3032C50.6106 54.0042 49.9666 51.7685 49.9666 31.3182C49.9666 10.8679 50.6106 8.63221 51.2233 6.33321C51.836 4.03421 53.3365 -0.00012207 57.4754 -0.00012207H119.083C136.158 -0.00012207 150 14.0219 150 31.3182Z" fill="white"/>
  				</g>
				</svg>
      </a>
    </div>

    <div class="main-footer__links">
      <a href="{{ url('impressum') }}">Impressum</a>
      <a href="{{ url('datenschutz') }}">Datenschutz</a>
    </div>
  </div>
</footer>
