<aside class="sidebar">

  <div class="about">
    <img src="" alt="" class="about__img">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt corporis sed est inventore, doloremque provident impedit eum ratione tenetur dolor amet ex, reprehenderit consequuntur molestiae temporibus? Sed at, corporis eligendi.
    </p>
    <a href="#!" class="more">mehr lesen</a>
  </div>


  <div class="social-media">
    <div class="social-media__title">
      Verfolge uns auf Instagram
    </div>

    <div class="insta-posts">

      <div class="post">
        <img src="" alt="">
      </div>

      <div class="post">
        <img src="" alt="">
      </div>

    </div>

    <div class="social-links">
      <a href="#!">FB</a>
      <a href="#!">IG</a>
    </div>
  </div>

</aside>
